html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
}

html {
	overflow: hidden;
}

.header {
  margin: 0;
}

@font-face {
  	font-family: starman;
  	src: url(starman.ttf);
}

body {
	position: absolute;
	background: url(./space.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;
	touch-action: manipulation;
}

.objects {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.base {
	position: fixed;
	height: 20%;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 3;
}

.earth {
	position: fixed;
	bottom: 0;	
	width: 100%;
	display: block;
	text-align: center;
	z-index: 2;
}


.dish {
	position: fixed;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 4;
}

.gifs {
	border-radius: 100%;
	outline: solid;
	outline-color: #004196;
}

.gifs.right {
	position: relative;
}

.objects::-webkit-scrollbar {
	display: none;
}

.hidden {
	display: none;
	background-color: white;
	width: 90%;
	height: 90%;
	color: white;
	font-family: 'starman';
}

.hidden.fancybox-content{
    background: url(./space.jpeg);
    background-size: cover;
    outline: solid 7px;
    border-radius: 20px;
    outline-color: rgba(0, 0, 0, 0.75);
}

audio {
	width: 40%;
}

section {
	position: relative;
	margin-top: 2%;
	width: 100%;
}