html, body {
	min-height: 100%;
}

html {
	overflow: hidden;
}

body {
	position: absolute;
	background: url(./space.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.container {	
	height: 100%;
	width: 100%;
	touch-action: manipulation;
}

.base {
	position: fixed;
	height: 20%;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 2;
}

.earth {
	position: fixed;
	bottom: 0;	
	width: 100%;
	display: block;
	text-align: center;
	z-index: 1;
}


.dish {
	position: fixed;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 3;
}
